.container {
    display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border: 1px solid silver;
  margin-bottom: 20px;
  margin-top: 70px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.proImage {
    height: 12rem;
    width: 15rem;
    padding: 5px;
    overflow: hidden;
}

.information {
    text-align: left;
  }
  
  .information:first-child {
    color: #1a73e8;
    margin-bottom: 10px;
  }
  
  .information:last-child {
    color: #34a853;
    font-weight: bold;
  }
  
  .quantity {
    background: orange;
    width: 25px;
    height: 25px;
    display: inherit;
    line-height: 25px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

/* btns */
.btnContainer button {
    outline: none;
    transition: all 0.3s ease-in-out ;
    cursor: pointer;
}

.trashBtn , .plusBtn, .decreaceBtn {
    font-size: 17px;
    margin: 0 3px 5px;
    border: 2px solid #000;
    padding: 5px 7px;
    border: 2px solid gray;
    border-radius: 50%;
    line-height: 14px;
}



/* responsive */

@media (max-width: 590px) {
    .container {
      flex-direction: column;
      height: 25rem;
    }
  
    .image {
      width: 150px;
    }
  
    .information {
      text-align: center;
    }
  
    .information:first-child {
      margin: 30px 0 20px;
    }
  
    .information:last-child {
      margin: 20px 0 30px;
    }
  
    .quantity {
      margin: 0 0 10px;
    }
  
    .btnContainer {
      display: flex;
      flex-direction: column-reverse;
    }
  }