.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 23px;
  padding: 5px;
  background: #f1f5f9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
  height: 23rem;
  width: 16rem;
}

.container:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.topSection, .downSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
}

.containerTitle {
    text-align: left;
}

.downSection {
    margin-top: 37px;
}

.proDetails {
    margin: 0;
    font-size: 18px;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.3s ease-in;
    color: #000;
    font-weight: 600;
    z-index: 5;
}

.proDetails:hover {
    opacity: 1;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer button {
    outline: none;
    transition: background-color 0.3s ease-in-out ;
    cursor: pointer;
}

.addBtn {
    font-size: 18px;
    padding: 3px;
    border: 1px solid #15803d;
    background-color: #22c55e;
    border-radius: 5px;
    color: #f0fdf4;
    font-weight: 500;
}

.addBtn:hover {
    background-color: #16a34a;
}

.plusBtn, .decreaceBtn {
    font-size: 28px;
    margin: 0 5px;
    border: none;
}

.trashBtn {
    margin-bottom: 7px;
    margin-right: 3px;
    border: 2px solid #000;
    font-size: 20px;
    padding: 1px;
    height: 26px;
    border-radius: 3px;
    color: #dc2626;

}

.proImage {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 624px) {
    .container {
        height: 21rem;
        margin: 18px;
        width: 14rem;
    }
    .proImage {
        width: 13rem;
        height: 13rem;
        overflow: hidden;
      }
}

@media (max-width: 524px) {
    .container {
        height: 18rem;
        width: 12rem;
        margin: 8px;
    }
    .proImage {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
      }

    .topSection {
        font-size: 15px;
    }

    .proDetails {
        font-size: 15px;
    }

    .addBtn {
        font-size: 16px;
    }

    .plusBtn, .decreaceBtn {
        font-size: 22px;
    }

    .trashBtn {
        font-size: 15px;
        height: 22px;
        margin-bottom: 6px;
    }
}

@media (max-width: 417px) {
    .container {
        height: 18rem;
        width: 10rem;
        margin: 4px;
    }
    .proImage {
        width: 9rem;
        height: 10rem;
        overflow: hidden;
      }
}